

.education .content h4 {
    color: #ea4c89;
    margin-bottom: 50px;
    font-family: "Roboto-light";
}

.education .content h5 span {
    color: #ea4c89;
}

.education .content h5 {
    color: #fff;
    line-height: 1.4rem;
    font-family: "Roboto-light";
}

@media(max-width: 576px) {
    .education .content {
        padding-top: 50px;
    }
}

@media(min-width: 576px) {
    .education .content {
        padding-top: 100px;
    }
}