
.about .content h4 {
    color: #ea4c89;
    margin-bottom: 50px;
    font-family: "Roboto-light";
}

.about .content h5 {
    color: #fff;
    line-height: 2rem;
    font-family: "Roboto-light";
}

@media(max-width: 576px) {
    .about .content {
        padding-top: 50px;
    }
}

@media(min-width: 576px) {
    .about .content {
        padding-top: 100px;
    }
}