/* Home */

.home h1 {
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

.home .title {
    color: #b11654;
}

@media(max-width: 576px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 30px;
    }
    .home .title {
        font-size: 40px;
    }
}

@media(min-width: 576px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 50px;
    }
    .home .title {
        font-size: 60px;
    }
}

@media(min-width: 768px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 80px;
    }
    .home .title {
        font-size: 90px;
    }
}

@media(min-width: 992px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 90px;
    }
    .home .title {
        font-size: 120px;
    }
}

@media(min-width: 1380px) {
    .home {
        padding-top: 320px;
    }
    .home .name {
        font-size: 90px;
    }
    .home .title {
        font-size: 120px;
    }
}

@media(min-width: 1480px) {
    .home {
        padding-top: 320px;
    }
    .home .name {
        font-size: 100px;
    }
    .home .title {
        font-size: 120px;
    }
}

/* About */

.about {
    padding-top: 90px;
}

.about h1 {
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

.about .title {
    color: #b11654;
}

.about p {
    color: #555;
    font-size: 20px;
}

@media(max-width: 576px) {
    .about .name {
        font-size: 30px;
    }
    .about .title {
        font-size: 40px;
    }
}

@media(min-width: 576px) {
    .about .name {
        font-size: 50px;
    }
    .about .title {
        font-size: 60px;
    }
}

@media(min-width: 768px) {
    .about .name {
        font-size: 80px;
    }
    .about .title {
        font-size: 90px;
    }
}

@media(min-width: 992px) {
    .about {
        padding-right: 50px;
    }
    .about .name {
        font-size: 90px;
    }
    .about .title {
        font-size: 120px;
    }
}

@media(min-width: 1380px) {
    .about .name {
        font-size: 90px;
    }
    .about .title {
        font-size: 120px;
    }
}

@media(min-width: 1480px) {
    .about .name {
        font-size: 100px;
    }
    .about .title {
        font-size: 120px;
    }
}

/* Projects */

.projects .technology_header h5 {
    font-weight: 900;
    color: #555;
}

.projects .project-card {
    float: left;
    width: 100%;
    min-height: 250px;
    padding: 15px;
    background: none;
}

.projects .project-card .card-body {
    border-radius: 4px;
    background: rgba(85, 85, 85, 0.226);
}

.projects .project-card .card-body h3 {
    color: #555;
    text-transform: capitalize;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 10px;
}

.projects .project-card .card-body p {
    font-size: 15px;
    line-height: 1.8rem;
    color: rgb(141, 138, 138);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.projects .project-card .card-body .btn {
    font-style: 30px;
    border: 1px solid #313131;
    padding: 5px 10px;
}

.projects .show-more-btn {
    color: #b11654;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #b11654;
    border-radius: 0;
    padding: 10px 40px;
    transition: 0.4s all;
}

.projects .show-more-btn:hover {
    color: #fff;
    background: #b11654;
}

@media(min-width: 576px) {
    .projects .project-card {
        width: 50%;
    }
}

@media(min-width: 1250px) {
    .projects .project-card {
        width: 33.33%;
    }
}

/* Experience */

.experience .jobs .job h3 {
    color: #b11654;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

.experience .jobs .job h4 {
    color: #555;
    font-family: 'Bebas Neue', cursive;
}

.experience .jobs .job p {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #555;
}