/* Home */

.home h1 {
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

.home .title {
    color: #b11654;
}

@media(max-width: 576px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 30px;
    }
    .home .title {
        font-size: 40px;
    }
}

@media(min-width: 576px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 50px;
    }
    .home .title {
        font-size: 60px;
    }
}

@media(min-width: 768px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 80px;
    }
    .home .title {
        font-size: 90px;
    }
}

@media(min-width: 992px) {
    .home {
        padding-top: 190px;
    }
    .home .name {
        font-size: 90px;
    }
    .home .title {
        font-size: 120px;
    }
}

@media(min-width: 1380px) {
    .home {
        padding-top: 320px;
    }
    .home .name {
        font-size: 90px;
    }
    .home .title {
        font-size: 120px;
    }
}

@media(min-width: 1480px) {
    .home {
        padding-top: 320px;
    }
    .home .name {
        font-size: 100px;
    }
    .home .title {
        font-size: 120px;
    }
}