@import "../../App.scss";

.custom-header {
    width: 100%;
    height: 100vh;
    padding-top: 35vh;

    p {
        color: $primary;
        font-weight: 400;
        margin-bottom: 5px;
        font-size: 22px;
    }

    h2 {
        color: #fff;
        font-size: 38px;
        font-weight: 700;
        line-height: 4rem;
        margin-bottom: 15px;

        @media (min-width: 576px) {
            font-size: 40px;
        }

        @media (min-width: 992px) {
            font-size: 60px;
        }

        @media (min-width: 1440px) {
            font-size: 80px;
            margin-bottom: 30px;
        }
    }

    h3 {
        color: $primary;
        font-weight: 700;
        margin-bottom: 5px;

        @media (max-width: 992px) {
            font-size: 22px;
        }
    }

    ul {
        padding: 0;
        margin-bottom: 0;

        li {
            display: inline-block;
            padding-right: 10px;
            list-style: none;

            p {
                color: #fff;
                font-size: 17px;
            }
        }
    }

    .follow-container {
        width: 190px;

        .boder {
            height: 2px;
            width: 30px;
            margin-top: 14px;
            background: $secondary;
        }

        h6 {
            margin-top: 5px;
            font-weight: 400;
            color: $secondary;
        }

        a {
            color: #fff;
            padding: 5px;
            margin-right: 5px;
        }

        @media (max-width: 992px) {
            margin: auto;
            padding-bottom: 30px;
        }

        @media (min-width: 992px) {
            margin-bottom: 30px;
        }
    }

    .btn {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 4px;
        border: 2px solid $primary;

        &:hover {
            color: #fff;
        }
    }

    .resume-btn {
        color: #000;
        background: $primary;

        &:hover {
            color: #000;
        }
    }
}
