.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #161616;
}

/* CSS for desktop navbar */

.custom-navbar .navbar-contaier {
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-navbar .navbar-contaier .desktop-items ul {
    padding: 0;
    margin: auto !important;
}

.custom-navbar .navbar-contaier .desktop-items ul li {
    list-style: none;
    display: inline-block;
}

.custom-navbar .navbar-contaier .desktop-items ul li a {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
    padding: 15px 20px;
    transition: 0.3s all;
    text-decoration: none;
    text-transform: capitalize;
}

.custom-navbar .navbar-contaier .desktop-items ul li a:hover {
    color: rgb(182, 178, 178);
}

@media(max-width: 992px) {
    .custom-navbar .navbar-contaier .desktop-items {
        display: none !important;
    }
}

/* Mobile navbar */