@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");

$primary: #f7a440;
$secondary: rgba(255, 255, 255, 0.781);

.App {
    min-height: 100vh;
    background: #111a28;
    font-family: 'Titillium Web', sans-serif;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.flex-column {
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    flex-direction: column !important;
}

html {
    scroll-behavior: smooth;
}
