@font-face {
  font-family: "Roboto-thin";
  src: url("./assets/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto-light";
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf");
}

/* @font-face {
  font-family: "Roboto-regular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-medium";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf");
} */

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.flex-column {
  -ms-flex-direction: column !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  flex-direction: column !important;
}