@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.app {
    font-family: 'Titillium Web', sans-serif;
}

.scrolled {
    position: fixed;
    animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
    from {
        transform: translateY(-5rem);
    }

    to {
        transform: translateY(0rem);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0rem);
    }
}

html {
    scroll-behavior: smooth;
}