.login {
    width: 100vw;
    height: 100vh;
}

.login .card {
    background: rgba(85, 85, 85, 0.226);
}

.login .card h4 {
    color: #555;
}

.login .card small {
    color: #555;
}

.login .card .form-control {
    font-size: 14px;
    background: #555;
    border: 0;
    color: #fff;
}

.login .card .btn {
    font-weight: 900;
    background: #555;
    color: #fff;
}

@media(max-width: 576px) {
    .login .card {
        width: 90vw;
    }
}

@media(min-width: 576px) {
    .login .card {
        width: 480px;
    }
}

/* Dashboard */

.dashboard h1 {
    color: #fff;
    font-weight: 900;
    font-family: 'Bebas Neue', cursive;
}

.dashboard .btn {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    border: 1px solid #fff;
    border-radius: 0px;
    transition: 0.4s;
}

.dashboard .btn:hover {
    color: #555;
    background: #fff;
}

.dashboard .logout_btn {
    color: #555;
    background: #fff;
}

.dashboard .project {
    background: rgba(85, 85, 85, 0.418);
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #000;
}

.dashboard .project p {
    color: rgb(153, 149, 149);
}

.dashboard .project .buttons {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}

.dashboard .project .buttons .btn {
    padding-top: 9px;
    padding-bottom: 9px;
}

.project_modal .modal-content .modal-header {
    border: 0;
    padding-bottom: 0;
}

.project_modal .modal-content .modal-header .modal-title {
    color: #555;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.project_modal .modal-content .modal-header .close {
    color: #fff;
}

.project_modal .modal-content {
    background: rgba(85, 85, 85, 0.418);
}

.project_modal .modal-content .form-control {
    background: #555;
    border: 0;
    color: #fff;
}

.project_modal .modal-content .btn {
    font-weight: 900;
}

/* Edit */

.edit {
    width: 100%;
    height: 100vh;
}

.edit .card {
    background: rgba(85, 85, 85, 0.226);
}

.edit .card h4 {
    color: #555;
}

.edit .card small {
    color: #555;
}

.edit .card .form-control {
    font-size: 14px;
    background: #555;
    border: 0;
    color: #fff;
}

.edit .card .btn {
    font-weight: 900;
    background: #555;
    color: #fff;
}

@media(max-width: 576px) {
    .edit .card {
        width: 90vw;
    }
}

@media(min-width: 576px) {
    .edit .card {
        width: 480px;
    }
}