.nav .my-nav {
    background: #181818;
}

@media(max-width: 992px) {
    .nav .my-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        text-align: center;
    }
    .nav .my-nav a {
        color: rgb(136, 134, 134);
    }
    .nav .my-nav a i {
        font-size: 22px;
        padding: 20px;
    }
    .nav .break {
        height: 70px;
    }
}

@media(min-width: 992px) {
    .nav .my-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 60px;
        height: 100vh;
        padding-top: 150px;
        z-index: 999;
    }
    .nav .my-nav a {
        display: block;
        width: 100%;
        text-align: center;
        color: rgb(136, 134, 134);
    }
    .nav .my-nav a i {
        font-size: 22px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.nav .my-nav .is-active {
    color: #ea4c89;
}